@model Imamu.Models.MessageModel

<div class="media">
    <a class="media-left" href="#">
        <img src="/Views/Shared/test.png">
    </a>
    <div class="media-body">
        <h4 class="media-heading">@Model.UserId</h4>
        <h6 class="media-heading">@Model.Time</h6>
		@Model.Message
    </div>
</div>
